<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WonderBoard</title>
	</head>
	<body>
		<a href="/"><img class="banner" src="/banner.png" /></a>
		<main>
			<div class="side-bar">
				<form class="side-bar__login" action="/login" method="post">
					<div class="side-bar__login__input">
						<label for="id">ID</label>
						<input name="id" id="id" type="text" placeholder="ID" />
					</div>
					<div class="side-bar__login__input">
						<label for="pw">PW</label>
						<input
							name="pw"
							id="pw"
							type="password"
							placeholder="PW"
						/>
					</div>
					<button class="side-bar__login__btn">Login</button>
				</form>
				<button
					class="side-bar__write"
					onclick="location.href = '/write';"
				>
					글쓰기
				</button>
				<form class="side-bar__search">
					<input placeholder="Search..." type="text" />
					<button class="side-bar__search__btn">Search</button>
				</form>
				<ul class="side-bar__board-list">
					<% for (let i = 0; i < boards.length; i++) { let
					url='/board/'+i; %>
					<li><a href="<%= url%>"><%= boards[i].board_name %></a></li>
					<% } %>
				</ul>
			</div>
			<div class="boards">
				<% for (i = 0; i < boards.length; i++) { url = '/board/'+i;%> <%
				if (i%2 === 0) { %>
				<div class="boards__row">
					<% } %>
					<div class="boards__board">
						<div class="boards__board__title">
							<h1 class="boards__board__title__category">
								<a href="<%= url %>">
									<%= boards[i].board_name %>
								</a>
							</h1>
							<a href="<%= url %>">
								<span class="boards__board__title__more">
									더보기
								</span>
							</a>
						</div>
						<ul class="boards__board__content">
							<% for (let j = 0; j < posts.length; j++) { %> <%url
							='/view/'+ posts[j].post_ID; %> <% if (
							posts[j].post_category === i) { %>
							<li>
								<span>
									<a href="<%= url %>">
										<%= posts[j].post_title %>
									</a>
								</span>
								<span> <%= posts[j].post_date %> </span>
							</li>
							<% } %> <% } %>
						</ul>
					</div>
					<% if (i%2 === 1) { %>
				</div>
				<% } %> <% } %>
			</div>
		</main>
	</body>
</html>
